.result-lists{
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 4%;
}
.here-height{    
    position: absolute;
    top:'10%';
    left:'10%';
    overflow:'scroll';
    height:'27.9em';
    display:'block';
}